{erl_opts, [debug_i, nfo]}.
{deps, [
  {mysql, "1.8.0"}
  , {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.7.1"}}}
  ,  {worker_pool, "6.0.1"}
  ,  {cowboy, "2.9.0"}
  ,  {trails, "2.3.0"}
  ,  {cowboy_swagger, "2.5.1"}
  ,  {uuid, ".*",
    {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}
  , {jsone, ".*",
    {git, "https://github.com/sile/jsone.git",  {branch, "master"}}}
  , {jwerl, "1.2.0"}
  , {jiffy, "1.1.1"}
]}.


{shell, [
  {apps, [erl_fcm]}
]}.
